/* Colors: */
$text-color-main                    :       #003479;
$text-color-main-light              :       #FFFFFF;
$text-color-list-item               :       #333333;
$text-color-search                  :       #644C79;
$text-color-selected-id             :       #FFFFFF;

/* Background: */
$bg-sidebar                         :       #F4F4F4;
$bg-panel                           :       #F4F4F4;
$bg-panel-list-item                 :       #FFFFFF;
$bg-search-field                    :       #FFFFFF;
$bg-select-id                       :       #FFFFFF;
$bg-select-id-selected              :       #003479;
$bg-open-filter-btn                 :       #003479;
$bg-clouse-filter-btn               :       #980505;
$bg-select-id-hover                 :       #B1B1B1;
$bg-search-btn                      :       #644C79;
$bg-toggle-btn                      :       #FFFFFF;
$bg-toggle-btn-area                 :       #BBBBBB;
$bg-pagination-selected-item        :       #003479;

/* Border: */
$border-search                      :       #644C79;
$border-select-id                   :       #003479;
$border-panel-list-item             :       #00A0DF;
$border-pagination-arrow            :       #00A0DF;
$border-pagination-arrow-disabled   :       #B1B1B1;
$border-panel                       :       #C2C2C2;

/* Icon */
$icon-select-id-button              :       #003479;
$bg-search-button                   :       #FFFFFF;
$icon-list-item                     :       #00A0DF;
$icon-pagination-arrow              :       #00A0DF;
$icon-pagination-arrow-disabled     :       #B1B1B1;



