.search{
    @include size(100%, 5rem);
    border: .1rem solid $border-search;

    &__field{
        @include size(calc(100% - 5rem), 100%);
        padding: 1rem;
        background-color: $bg-search-field;
        border: none;
        outline: none;

        /* Disable "X" default icon */
        &::-webkit-search-cancel-button,
        &::-webkit-search-decoration {
            -webkit-appearance: none;
            appearance: none;
        }
    }
}