.app{
    position: relative;
    @include size(100%,100vh);
    min-height: 100vh;
    overflow-x: hidden;
    
    @include viewport('laptop'){
        @include size(100%,max-content);
        min-height: max-content;
    }

    &__sidebar{
        @include viewport('laptop'){
            margin-right: 5rem;
        }
    }
}